<!DOCTYPE html>
<html>
<head>
	<title>Car Price Predictor</title>
	<link rel="stylesheet" type="text/css" href="static/CSS/style.css">
</head>



<body>
<div class="main">
<div class="register">
<h2>Car Price Predictor</h2>
    <form id="register" method="post", action="{{url_for('pred')}}">





       	<label for="name">companies:</label>
       	<br>
		<select class ="selectpicker from-control" required = "1" id="company" name="company" onchange="load_car_model(this.value, 'car_models') ">
<!--		<option value="">-->
<!--				select-->
<!--			</option>-->
			{% for company in companies %}
			<option value="{{company}}">
				{{company}}
			</option>
		{% endfor %}
			</select>
		<br><br>



       	<label for="name">car_models:</label>
       	<br>
       	<select class ="selectpicker from-control" id="car_models" name="car_models" required = "1">
			<option value="">
				select
			</option>
			</select>
		<br><br>





       	<label for="name">fuel_type:</label>
       	<br>
       	<select name="fuel_type">
			<option value="Petrol">
				Petrol
			</option>
			<option value="Diesel">
				Diesel
			</option>
			</select><br><br>




		<label for="name">kms_driven:</label>
       	<br>
       	<select name="kms_driven">
		{% for i in kms_driven %}
			<option value="{{i}}">
				{{i}}
			</option>
		{% endfor %}
			</select><br><br>




       	<label>Year</label>
       	<br>
       	<select name="year">
		{% for i in year %}
			<option value="{{i}}">
				{{i}}
			</option>
		{% endfor %}
			</select>
		<br><br>


       	<input type="Submit" name="Submit" id="Submit" >
    </form>
</div>
</div>




<script>
	function load_car_model(value,car_models_id){
<!--	    var company = document.getElementById(id);-->
	    var car_models = document.getElementById(car_models_id);
	    car_models.value = "";
	    car_models.innerHTML="";
	    {% for company in companies %}
	      if(value == "{{company}}"){
	        {% for model in car_models %}
	           {% if company in model %}

	              var newOption = document.createElement("option");

	              newOption.value = "{{model}}";
	              newOption.innerHTML="{{model}}";
	              console.log(newOption)
	              car_models.append(newOption);
	           {% endif %}
	        {% endfor %}
	      }
	    {% endfor %}
	}
	load_car_model("{{companies[0]}}", 'car_models');
</script>

</body>
</html>